.display {
  padding: 3px;
  align-content: center;
}

.teamList{
  padding: 0px;
  margin: 0px;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
}

.playerList {
  padding-left: 10px;
  border-top: #9b9b9b solid 1px;
}

.team{
  padding: 2px;
  margin: 2px;
  background-color: #ffffff0c;
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
  margin-right: 5px;
}

.team:hover{
  background-color: #ffffff13;
  box-shadow: 0px 0px 3px black;
}

.player {
  padding: 1px;
  margin: 1px;
}

.player:hover {
  padding: 0px;
  border: 1px solid #9b9b9b ;
  border-radius: 3px;
  background-color: #ffffff05;
}

.teamName {
  display: inline;
  margin-right: 7px;
}

.teamScore {
  display: inline;
  margin-left: 7px;
}

.name{
  display: inline;
  margin-right: 5px;
}

.score{
  display: inline;
  margin-left: 5px;
}

.moveList{

}

.move{
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 5px;
  background-color: #ffffff0c;
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
  width: fit-content;
}

.move:hover {
  background-color: #ffffff13;
  box-shadow: 0px 0px 3px black;
}

.moveNewScore{
  padding: 0px;
  margin: 0px;
  order: 	2;
}

.moveText{
  padding: 0px;
  margin: 0px;
  order: 1;
}