.app {
  background-color: #C1292E;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: none
}

.team{
  align-items: center;
  border-width: 2px;
  border-color: #020100;
  border-style: solid;
  border-radius: 10px;
  background-color: #C1292E;
  color: #FDFFFC;
  margin: 5px;
  padding: 10px;
  display: block;
  float: left;
}

.player {
  align-items: center;
  max-width: initial;
  border-width: 1px;
  border-color: #020100;
  border-style: solid;
  border-radius: 5px;
  margin: 3px 0px 3px 0px;
  overflow: hidden;
  vertical-align:middle;
}

.name{
  vertical-align:middle;
  margin: 10px;
  max-width: auto;
  float: left;
}

.score{
  vertical-align:middle;
  margin: 10px;
  max-width: auto;
  float: left;
}

.teamList{
  align-items: center;
  list-style: none;
}

.teamName {
  align-items: center;
  list-style: none;
  float: left;
  margin-right: 10px;
}

.playerList {
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  float: left;
}

.display {
  align-items: center;
  border-bottom: #FDFFFC 50px solid;
  border-right: #FDFFFC 25px solid;
  border-top: #FDFFFC 50px solid;
  border-left: #FDFFFC 25px solid;
  border-radius: 5px;
  border-collapse: collapse;
  float: left;
  padding: 10px 30px 30px 10px;
}